body {
  color: white;
  text-align: center;
  background-color: #4f4e4e;
}

.container {
  display: flex;
  justify-content: space-around;
}
textarea {
  color: white;
  background-color: #6e6b6b;
  width: 40%;
  height: 450px;
  border-radius: 5px;
  border-style: none;
}
button {
  width: auto;
  height: 50px;
  font-size: large;
  border-radius: 5px;
  border-style: none;
  background-color: #6e6b6b;
  color: white;
}
button:hover {
  background-color: white;
  color: black;
  transition: 0.3s ease;
}
